
h1{
    font-family: "Metal Mania", cursive;
    color: darkorange;
    font-size: 50px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050000;
}

nav ul li {
    display: inline;
    padding: 0 15px;
}

nav ul li a {
    color: rgb(245, 3, 3);
    text-decoration: none;
    font-size: 25px;
    font-family: "Metal Mania", cursive;

}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #050000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body {
    
    color: #fff;
    background-color: #000;
    font-family: 'Creepster', sans-serif;
}

header {
    text-align: center;
}

nav a {
    color: #ff6f61;
    text-decoration: none;
    margin: 0 15px;
}

button, #spiritContactForm button {
    background-color: #ff6f61;
    border: none;
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
}

.home #surprise {
    color: #ff6f61;
    font-size: 20px;
    text-align: center;
}

